.Home {
  font-size: xx-large;
}
.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.avatar {
  margin: 1%;
  width: 10%;
  font-size: xx-large;
  border-radius: 50%;
}
