.nav {
  position: fixed;
  z-index: 100;
}
.ul {
  text-align: left;
  font-size: large;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.li {
  margin: 10pt;
}
.li a {
  text-decoration: none;
}
