.Archives {
  max-width: calc(90% - 10rem);
  margin-left: auto;
  margin-right: auto;
}

.Archive {
  color: orange;
  border-radius: 20px;
  margin: calc(0.2% + 0.8rem);
  align-items: center;
  padding: 0 calc(1% + 1rem);
}

.ArchiveLine {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}