.App {
  text-align: center;
  background-image: url(./asset/backgroundImage.jpg);

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: ceil;
  background-repeat: no-repeat;
  
  margin: auto; 
  width: 100vw;
  height: 100vh;
}
