.App {
  text-align: center;
  background-image: url(./asset/backgroundImage.jpg);

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: ceil;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  min-width: 100vw;
  min-height: 100vh;
  
  display: flex;
  flex-direction: column;
}
